@import "../js/libs/bootstrap/less/bootstrap.less";
.top-offset {
  margin-top: 52px;
  #page-header {
    background: aliceblue;
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 21px;
      margin-right: 380px;
    }
    .container {
      margin-left: 85px;
    }
  }
}