<li>
  <div class="container">
    {{#blog}}
    <span class="date-header">01 December 2013</span>
    {{#tags}}
    <span class="label label-{{getRandomCss}}">{{.}}</span>
    {{/tags}}
    <h2>This is a sample blog title</h2>
    <h4>Where to start</h4>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    <pre class="js">
      <code>
        function foo(bar) {
        // displays bar if it matches "baz":
        if (/baz/.test(bar)) {
          alert(bar);
          }
        };
    </code>
    </pre>
    <h4>Another block of code</h4>
        <pre class="ruby">
          <code>
            # Open and read from a text file
            # Note that since a block is given, file will
            # automatically be closed when the block terminates
            File.open('p014constructs.rb', 'r') do |f1|
              while line = f1.gets
                puts line
              end
            end

            # Create a new file and write to it
            File.open('test.rb', 'w') do |f2|
              # use "\n" for two lines of text
              f2.puts "Created by Satish\nThank God!"
            end
    </code>
    </pre>
  </div>
  {{/blog}}
</li>